**/__pycache__
**/*.zip
**/*.jpg
**/teste.py
datasets/ODIR/data
datasets/ODIR/train
datasets/ODIR/test
datasets/ODIR/codigo/train
datasets/ODIR/codigo/test
datasets/ODIR/codigo/*classes
preprocess/*data
